<% if @bond %>
  <h3>New <%= @bond.print_description %> Trade</h3>
<% elsif @client %>
	<h3>New <%= @client.name %> Trade</h3>
 <% else %>
  <h3>Book a new trade</h3>
<% end %>
<br>
<%= render 'form' %>