<h1><%= @salesperson.name %></h1>
<% if !@transacts.empty? %>
<span class="col-sm-4" align="center"><h4><%= link_to "View trades", salesperson_transacts_path(@salesperson) %></h4></span>
<% end %>
<%= render 'templates/show' %>