<table class='table table-borderless col-sm-6'>
	<tbody>
		<% @items.each do |item| %>
			<tr>
				<td>
					<% model_name = item.class.to_s.underscore %>
					<% if item.class.name == "Bond" %>
						<%= link_to item.print_description, send("#{model_name}_path", item) %>
						<button class="js-bond-trades" data-id="<%= item.id %>">Recent Trades</button>
					<% else %>
						<%= link_to item.name, send("#{model_name}_path", item) %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>