<h1><%= @client.name %></h1>
<% if !@transacts.empty? %>
<span class="col-sm-4" align="center"><h4><%= link_to "View trades", client_transacts_path(@client) %></h4></span>
<% end %>
<%= render 'templates/show' %>
