<%= render 'templates/index', collection: @items %>
<div class="col-sm-6">
<table class='table table-borderless' id="js-display-trades-header" hidden>
	<caption>Recent Trades</caption>
	<thead>
		<tr>
			<td>Type</td>
			<td>Size</td>
			<td>Price</td>
			<td>Trader</td>
			<td>Client</td>
		</tr>
	</thead>
	<tbody id="js-display-trades">
	</tbody>
</table>
</div>
