<%= render 'templates/index', collection: @items %>
<div class="col-sm-6">
<ul id="js-display-trades"></ul>
</div>


<script type="text/javascript">
$(function () {
  $(".js-bond-trades").on("click", function() {
  	$("#js-display-trades").empty()
    var bondId = parseInt($(this).attr("data-id"));
    $.get("/bonds/" + bondId + ".json", function(data) {
      transacts = data
      for(let transact of transacts) {
      	$("#js-display-trades").append(`<li> ${transact.trade_type} - ${transact.size} - ${transact.price} - ${transact.trader} - ${transact.client} </li>`)
      }
    });
  });
});
</script>
