<%= render 'templates/index', collection: @items %>
<ul id="js-display-trades">
	
</ul>

<script type="text/javascript">
$(function () {
  $(".js-bond-trades").on("click", function() {
  	$("#js-display-trades").empty()
    var bondId = parseInt($(this).attr("data-id"));
    $.get("/bonds/" + bondId + ".json", function(data) {
      transacts = data.transacts
      for(let transact of transacts) {
      	$("#js-display-trades").append(`<li> ${transact.size} - ${transact.price} </li>`)
      }
    });
  });
});
</script>
