<h1><%= @bond.print_description %></h1>

<p><%= link_to "Book a trade", new_bond_transact_path(@bond) %></p>
<% if !@transacts.empty? %>
	<span class="col-sm-4" align="center"><h4><%= link_to "View trades", bond_transacts_path(@bond) %></h4></span>
<% end %>
<%= render 'templates/show' %>